<% layout("/layouts/adminLayout") %>
<div class="container">
        <h1>Employee List</h1>
        <table>
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <% emplist.forEach(employee => { %>
                    <tr>
                        <td><%= employee.employee_id %></td>
                        <td><%= employee.Name %></td>
                        <td><%= employee.code %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
</div>
