<%layout("/layouts/boilerplate")-%>
<link rel="stylesheet" href="/css/Admin.css">
<div class="main-body-img"></div>
<div class="main-body-routes">
    <p class="main-body-img-text">Solid State Physics Laboratory, New Delhi</p>
    <p style="font-size: 1.3rem;font-weight: 600;">Login Admin</p>
    <img class="routes" style="border-radius: 14px;" src="/utils/sspl-delhi.jpg" alt="user" height="250" width="350">
    <div class="adminLoginform">
        <form class="form-ele" method="post" action="/login">
            <input required placeholder="Enter admin ID" class="inpt" type="number" name="id" id="id">
            <input required placeholder="Enter username" class="inpt" type="text" name="usnm">
            <input required placeholder="Enter password" class="inpt" name="pswd" type="password"><br>
            <button class="btn btn-secondary" type="submit">Login</button><br>
        </form>
    </div>
    <p class="ques" style="color:white">Don't have an admin account? <a href="/signup" style="text-decoration: underline;color:#0E86D4;">Sign up instead</a></p>
</div>