<div class="footer">
    <div class="socials">
        <a href="https://www.instagram.com/dpi.drdo/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/sspl-drdo-new-delhi/?originalSubdomain=in"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://x.com/drdo_india?lang=en"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.drdo.gov.in/drdo/labs-and-establishments/solid-state-physics-laboratory-sspl"><i class="fa-solid fa-globe"></i></a>
        <a href="https://www.facebook.com/profile.php?id=517209198367556&_rdr"><i class="fa-brands fa-facebook"></i></a>
    </div>
    <div class="footer-head">
        Copyright <i style="color:#D4F1F4" class="fa-regular fa-copyright"></i> 2024, DRDO, Ministry of Defence, Government of India
    </div>
</div>