<div class="navbar">
    <div class="nav-info">
        <img class="nav-info-img" src="/utils/drdo_logo_0.png" alt="logo">
    </div>
    <div class="nav-options">
        <div class="search"> 
            <input type="text" class="search-input" placeholder="Type to search">
            <a style="text-decoration:none;color:white;font-size: 1.2rem;margin-left:10px;" href="/" ><i style="color:rgba(255, 255, 255, 0.676);font-size: 1.7rem;margin-right:5px;" class="fa-solid fa-house"></i></a>
        </div>
    </div>
</div>