<div class="navbar">
    <div class="nav-info">
        <img class="nav-info-img" src="/utils/drdo_logo_0.png" alt="logo">
    </div>
    <div class="nav-options">
        <a style="text-decoration:none;color:white;font-size: 1.2rem;margin-left:10px;padding: 0.6rem;background-color:#DE3163;border-radius: 0 12px 0 12px;" href="/" ><i style="color:rgba(255, 255, 255, 0.863);font-size: 1.7rem;margin-right:5px;" class="fa-solid fa-house"></i>&nbsp;Home</a>
    </div>
</div>

<style>
    a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        margin-left: 0.7rem;
    }
    .nav-below{
        height:3.5rem;
        background: #000428; 
        background: -webkit-linear-gradient(to right, #004e92, #000428); 
        background: linear-gradient(to right, #004e92, #000428); 
        width: 100%;
        text-align: left;
        padding:1rem 0 0 0;
        border-top:0.1px solid rgba(255, 255, 255, 0.737);
    }
</style>

<div class="nav-below">
    <a href="#updates">New updates&nbsp;|</a>
    <a href="#emp-strength">Employee strength&nbsp;|</a>
    <a href="#emp-list">List of employee&nbsp;|</a>
    <a href="#footer">Contact Us&nbsp;|</a>
    <a href="#org">Know ur Org</a>
</div>