<div class="navbar">
    <div class="nav-info">
        <img class="nav-info-img" src="/utils/drdo_logo_0.png" alt="logo">
    </div>
    <div class="nav-options">
        <div class="search"> 
            <input type="text" class="search-input" placeholder="Search">
        </div>
    </div>
</div>