<div class="navbar">
    <div class="nav-info">
        <img class="nav-info-img" src="/utils/drdo_logo_0.png" alt="logo">
    </div>
    <div class="nav-options">
        <a style="text-decoration:none;color:white;font-size: 1.2rem;margin-left:10px;padding: 0.8rem;background-color:#DE3163;border-radius: 0 12px 0 12px;" href="/" ><i style="color:rgba(255, 255, 255, 0.863);font-size: 1.7rem;margin-right:5px;" class="fa-solid fa-house"></i>&nbsp;Home</a>
    </div>
</div>