.main-body{
    height:600px;
}
.adminLoginform{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-body-routes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.inpt{
    font-family: "Poppins", sans-serif;
    padding-left: 15px;
    font-size:1.01rem;
    text-decoration: none;
    background-color: transparent;
    height:30px;
    width:80%;
    border:0.2px solid rgb(157, 152, 152);
    border-radius: 14px;
    color:white;
    margin-top: 35px;
}
.form-ele{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    margin: 10px;
}