body{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
}
.navbar{
    height:120px;
    width:100%;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
}
.nav-info-img{
    margin:10px 0 0 10px;
}
.main-body{
    flex:1;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 10px;
}
.main-body-img{
    /* height:100%; */
    width:55%;
    object-fit: cover;
    background-image: url("/utils/missile.jpg");
    background-repeat: no-repeat;
    /* margin-top: 1rem; */
    border-radius: 14px;
    margin:10px;
    text-align: center;
    /* object-position: center;
    object-fit: cover;
    background-position: left center; */
}

.nav-options{
    width:30%;
}
.main-body-img-text{
    font-size:1.6rem;
    font-weight: 700;
    color:#afc7dc;
    text-align: center;
}
.search-input{
    text-decoration: none;
    background-color: transparent;
    height:30px;
    width:70%;
    border:1.4px solid rgb(208, 202, 202);
    border-radius: 14px;
    color:white;
    margin-top: 35px;
}
::placeholder{
    color:white;
    padding-left:6px;
}
.main-body-routes{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    /* height: 100%; */
    color:white;
    border-radius: 14px;
    margin:10px;
}
.btn{
    text-align: center;
    text-decoration: none;
    width:fit-content;
    height:fit-content;
    padding:1rem 2.5rem 1rem 2.5rem;
    text-decoration: none;
    background-color: #0E86D4;
    color: white;
    border:none;
    border-radius: 14px;
    font-weight: 600;
    margin:3rem 0 2rem 0;
    font-size:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn:hover{
    opacity:0.9;
}
.container{
    flex: 1; /* Take up remaining space */
    /* display: flex;
    justify-content: center; */
    /* justify-content: space-around; */
    margin: 10px;
}
@media(max-width:1100px){
    .main-body{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .main-body-img{
        height:900px;
        width:90%;
    }
    .main-body-routes{
        width: 90%;
    }
    .routes{
        width:80%;
    }
}
@media(max-width:840px){
    .main-body-img-text{
        font-size: 1.35rem;
    }
    .routes{
        width:80%;
    }
}
@media(max-width:630px){
    .search-input{
        opacity: 0;
    }
}
@media(max-width:425px){
    .nav-info img{
        content: url("/utils/drdo-logo-wob.png");
        height:90%;
        width:100%;
    }
    .navbar{
        background: -webkit-linear-gradient(to right, #0f75ce, #064d5e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1181e3, #1464ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}
.footer{
    margin-top:5rem;
    height:12rem;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.socials{
    margin-top: 2rem;
    display: flex;
    width:25%;
    justify-content: space-between;
}
.socials i{
    height:3.5rem;
    width:3.5rem;
    border-radius: 50%;
    background-color:rgb(233, 234, 236,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#E9EAEC;
    font-size: 1.5rem;
}
.socials i:hover{
    transform: scale(1.1);
    background-color:rgb(233, 234, 236,0.5);
}
.socials a{
    text-decoration: none;
}
.footer-head{
    font-size:1.1rem;
    color:#C8F4F9;
    margin-bottom: 2rem;
}
@media(max-width:475px){
    .ques{
        font-size: 0.8rem;
    }
}


.new-updates{
    margin-top: 4rem;
}
.updates-card{
    /* width:30%; */
    display: flex;
    justify-content: center;
    
}
.updates-card a{
    margin-top: 4rem;
    text-decoration: none;
    height:fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 14px;
    border:1px solid #afc7dc;
    margin-right: 1rem;
}
.updates-card a:hover{
    background-color: #FF8300;
    transform: scale(1.1);
    cursor: pointer;
    border:2px solid white;
}

.emp-strength{
    margin:6rem 0 6rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #004e92;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}
tr:hover {
    background-color: #dddddd75;
}