* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.navbar{
    height:120px;
    width:100%;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428); 
    background: linear-gradient(to right, #004e92, #000428); 
    display: flex;
    justify-content: space-between;
}
.nav-info-img{
    margin:10px 0 0 10px;
}
.main-body{
    flex:1;
    display: flex;
    justify-content:center;
    margin: auto;
}
.main-body-img{
    width:55%;
    object-fit: cover;
    background-image: url("/utils/missile.jpg");
    background-repeat: no-repeat;
    border-radius: 14px;
    margin:10px;
    text-align: center;
}

.nav-options{
    width:30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-body-img-text{
    font-size:1.6rem;
    font-weight: 700;
    color:#afc7dc;
    text-align: center;
}
.search-input{
    text-decoration: none;
    background-color: transparent;
    height:30px;
    width:70%;
    border:1.4px solid rgb(208, 202, 202);
    border-radius: 14px;
    color:white;
    margin-top: 35px;
}
::placeholder{
    color:white;
    padding-left:6px;
}
.main-body-routes{
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to right, #243B55, #141E30); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    color:white;
    border-radius: 14px;
    margin:10px;
    padding: 2.5rem 0 2.5rem 0;
}
/* .btn{
    text-align: center;
    text-decoration: none;
    width:fit-content;
    height:fit-content;
    padding:1rem 2.5rem 1rem 2.5rem;
    text-decoration: none;
    background-color: #0E86D4;
    color: white;
    border:none;
    border-radius: 14px;
    font-weight: 600;
    margin:3rem 0 2rem 0;
    font-size:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn:hover{
    opacity:0.9;
} */
.container{
    flex: 1; /* Take up remaining space */
    /* display: flex;
    justify-content: center; */
    /* justify-content: space-around; */
    margin: 10px;
}
@media(max-width:1100px){
    .main-body{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .main-body-img{
        height:900px;
        width:90%;
    }
    .main-body-routes{
        width: 90%;
    }
    .routes{
        width:80%;
    }
}
@media(max-width:840px){
    .main-body-img-text{
        font-size: 1.35rem;
    }
    .routes{
        width:80%;
    }
}
@media(max-width:630px){
    .search-input{
        opacity: 0;
    }
}
@media(max-width:425px){
    .nav-info img{
        content: url("/utils/drdo-logo-wob.png");
        height:90%;
        width:100%;
    }
    .navbar{
        background: -webkit-linear-gradient(to right, #0f75ce, #064d5e);  
        background: linear-gradient(to right, #1181e3, #1464ae); 
    }
}
.footer {
    width: 100%;
    margin-bottom: 0;
    height: 12rem;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials{
    margin-top: 2rem;
    display: flex;
    width:25%;
    justify-content: space-between;
}
.socials i{
    height:3.5rem;
    width:3.5rem;
    border-radius: 50%;
    background-color:rgb(233, 234, 236,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#E9EAEC;
    font-size: 1.5rem;
}
.socials i:hover{
    transform: scale(1.1);
    background-color:rgb(233, 234, 236,0.5);
}
.socials a{
    text-decoration: none;
}
.footer-head{
    font-size:1.1rem;
    color:#C8F4F9;
    margin-bottom: 2rem;
}
@media(max-width:475px){
    .ques{
        font-size: 0.8rem;
    }
}


.new-updates{
    margin-top: 4rem;
    padding:2rem 0 3rem 0;
    border-radius: 0 100em 0 100em;
}
.updates-card{
    /* width:30%; */
    display: flex;
    justify-content: center;
    
}
.updates-card a{
    margin-top: 4rem;
    text-decoration: none;
    height:fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: 14px;
    border:1px solid #afc7dc;
    color:white;
    margin-right: 1rem;
}
.updates-card a:hover{
    background-color: #FF8300;
    cursor: pointer;
    border:1.2px solid white;
    color: white;
}

.emp-strength{
    margin:8rem 0 8rem 0;
}
.emp-list{
    overflow: scroll;
    height: 700px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #004e92;
    color: white;
}
tr{
    background-color: #f2f2f2b5;
    color: black;
}
tr:hover {
    background-color: #dddddde7;
}

.line{
    height:1rem;
    width:90%;
    background-image: url("/utils/Blue-horizontal-line.png");
    background-repeat: no-repeat;
}

.sspl-options{
    background-color: #064d5e;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    color:white;
    margin: auto;
    align-items: center;
    padding :3rem;
    border-radius: 14px 0 14px 0;
}
.sspl-options ul{
    width:100%;
}
.sspl-options li{
    height:fit-content;
    width:fit-content;
    padding:1rem;
    border:0.1px solid rgba(255, 255, 0, 0.779);
    border-radius: 14px;
    margin-bottom: 1rem;
    width:100%;
}
.sspl-options li:hover{
    background-color: rgba(255, 255, 0, 0.683);
    color:black;
    cursor: pointer;
}
.sspl-options-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width:1000px){
    .sspl-options{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@keyframes fade {
    from{
        opacity: 0;
        scale:0.8;
    }
    to{
        opacity: 1;
        scale:1;
    }
}

.box{
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}